.menu-btn {
  z-index: 3;
  cursor: pointer;
  transition: all 0.5s ease-out;
  align-items: center;
  width: 28px; }
  .menu-btn .menu-bar {
    width: 28px;
    height: 1px;
    margin: 0 0 8px 0;
    background: #255f82;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .menu-bar:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .menu-bar:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .menu-bar:nth-child(3) {
      transform: rotate(-45deg) translate(9px, -7px); }

nav {
  display: none;
  transition: all 0.5s ease-out; }
  nav.show {
    display: inline; }
  nav .nav-item a {
    display: flex;
    font-size: 1rem;
    font-weight: normal;
    text-decoration: none;
    color: #525252;
    border-bottom: 2px solid #f4f4f4;
    padding: 1rem;
    margin: 0 2rem;
    transition: all 0.5s ease-out; }
    nav .nav-item a:hover {
      background: #f4f4f4; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  background-color: white;
  color: #255f82;
  height: 6.5vh;
  border-bottom: 1px solid #525252;
  align-items: center;
  padding: 1rem;
  display: flex; }
  header section {
    flex: 1; }
  header #logo-image {
    width: 100px; }
  header .sign-in {
    width: 20px;
    text-align: right; }
